

table {

  background-color: #ffeda0;
  border-collapse: separate;
  border-spacing: 0.5em;
  box-shadow: 5px 3px 5px rgba(0,0,0,2);
  position: relative;
  z-index:0;
  transition: box-shadow 450ms ease-in-out;
  transition-property: width, box-shadow;
  margin-bottom:  1em;
  margin-left: 1em;
}
   
   
table:hover {
		box-shadow: 10px 5px 5px hsl(0, 0%, 50%);
		transition: 450ms;
		transform: scale3d(1, 1, 1); 
        transform: scale3d(1.05, 1.05, 1.05); 
      
		
}


caption {
color: white;
background: hsl(13, 96%, 39%);
font-size: 1.5em;
box-shadow: 0.1em 0.1em 0.1em 0 hsl(0, 0%, 50%);
padding: 0.2em 0.2em 0.2em 2em;
width: 10em;
margin-left: -0.1em;
position: relative;
}
caption::before {
content:"";
position: absolute;
display: block;
height: 0;
width: 0;
top: 1em;
left:-0.6em;
border-style: solid;
border-width: 0.6em;
border-color: transparent hsl(13, 96%, 35%) transparent transparent;
z-index: -1;
}

thead {
  background-color: #f3c600;
  border-collapse: separate;
  
      }

td, th {
   text-align: left;
   padding: 0.2em 0.5em;
   border-radius: 0.1em;
    }
td {
font-style:italic;
box-shadow: inset 1px 3px 5px -3px rgba(0,0,0,0.5);
 }

 
 
 #button input {
	 position: absolute;
	 left: 3%;
	 
	 background-color: hsl(13, 96%, 39%);
	 color: white;
 }
	 

	 
