

.ticket table {

  background-color: #ffeda0;
  border-collapse: separate;
  border-spacing: 0.5em;
  box-shadow: 5px 3px 5px rgba(0,0,0,2);
  position: relative;
  z-index:0;
  margin-bottom:  1em;
  margin-left: 1em;
  width: 100%;
  height: auto;
}
   
.ticket caption {
color: white;
background: hsl(13, 96%, 39%);
font-size: 1.5em;
box-shadow: 0.1em 0.1em 0.1em 0 hsl(0, 0%, 50%);
padding: 0.2em 0.2em 0.2em 2em;
width: 10em;
margin-left: -0.1em;
position: relative;
}
.ticket caption::before {
content:"";
position: absolute;
display: block;
height: 0;
width: 0;
top: 1em;
left:-0.6em;
border-style: solid;
border-width: 0.6em;
border-color: transparent hsl(13, 96%, 35%) transparent transparent;
z-index: -1;
}

.ticket thead {
  background-color: #f3c600;
  border-collapse: separate;
  
      }

.ticket td, th {
   text-align: left;
   padding: 0.2em 0.5em;
   border-radius: 0.1em;
    }
.ticket td {
font-style:italic;
box-shadow: inset 1px 3px 5px -3px rgba(0,0,0,0.5);
 }

.ticket td a{
  width: 50%;
  height: auto;
  margin-left: 20%;
	border: none;
	background-color:#ffeda0;
	color: #304FFE;
  vertical-align: middle;
}
.ticket td a:hover {
	color: white;	
	background-color: #1E88E5;
	transition: 300ms;
	
	}
 
 #button input {
	 position: absolute;
	 left: 3%;
	 
	 background-color: hsl(13, 96%, 39%);
	 color: white;
 }
	 

